src/Package/Resources/Scheme/synthesis.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="http://www.w3.org/2001/10/synthesis"
           xmlns:ssml="http://www.w3.org/2001/10/synthesis"
           elementFormDefault="qualified">

    <xs:complexType name="ssmlMixedType" mixed="true">
        <xs:sequence>
            <xs:any processContents="lax" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
        <xs:anyAttribute processContents="lax"/>
    </xs:complexType>

    <xs:element name="speak" type="ssml:ssmlMixedType"/>
    <xs:element name="p" type="ssml:ssmlMixedType"/>
    <xs:element name="s" type="ssml:ssmlMixedType"/>
    <xs:element name="say-as" type="ssml:ssmlMixedType"/>
    <xs:element name="phoneme" type="ssml:ssmlMixedType"/>
    <xs:element name="sub" type="ssml:ssmlMixedType"/>
    <xs:element name="voice" type="ssml:ssmlMixedType"/>
    <xs:element name="emphasis" type="ssml:ssmlMixedType"/>
    <xs:element name="break" type="ssml:ssmlMixedType"/>
    <xs:element name="prosody" type="ssml:ssmlMixedType"/>
    <xs:element name="mark" type="ssml:ssmlMixedType"/>
    <xs:element name="audio" type="ssml:ssmlMixedType"/>
</xs:schema>
